@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root {
    /* Colors */
  --white-color: #ffffff;
  --dark-color: #252525;
  --primary-color: #16168f;
  --secondary-color: #f9b75f;
  --light-pink-color: #fff1f8;
  --medium-gray-color: #ccc;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}


html {
    scroll-behavior: smooth;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
}


button {
    cursor: pointer;
    border: none;
    outline: none;
}


img {
    width: 100%;
}

/*Login*/
.login-body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(222, 225, 234);
}

.avatar {
    width: 84px; /* Ajusta el tamaño según necesites */
    height: 85px;
    margin: 0 auto 12px;
}

.login-container {
    background: rgb(197, 202, 233);
    padding: 38px;
    box-shadow: 0px 0px 12px rgb(0, 0, 0, 0.45);
    border-radius: 10px;
    text-align: center;
    width: 62%;
    height: 67%;
    transform: translateY(-5px);
    display: flex;
    overflow: hidden;
}

.left-panel {
    flex: 1;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 47px;
}

.right-panel {
    background: rgba(240, 243, 255, 0.868);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 7px rgba(136, 136, 136, 0.423);
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 33px;
    gap: 19px;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.input-container {
    position: relative;
    margin: 18px 0;
}

.login-input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #bdbdbd;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    outline: none;
    color: #767575;
}

.login-input:focus {
    border-color: #ababf8;
}

.login-label {
    position: absolute;
    top: 38%;
    left: 0;
    transform: translateY(-50%);
    font-size: 17px;
    color: #3c3c3c;
    transition: 0.3s ease all;
    pointer-events: none;
    
}

.login-input:focus + .login-label,
.login-input:not(:placeholder-shown) + .login-label {
    top: -4px; 
    font-size: 17px;
    color: #3c3c3c;
}

.login-button {
    background-color: #28a745;
    color: rgb(255, 255, 255);
    padding: 13px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 0.3s ease;
}

.login-button:hover {
    background-color: #259115;
}

.login-error {
    color: red;
    margin-top: 15px;
    font-size: 14px;
}